<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Bordered Table</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <!-- <th>Email</th> -->
                  <th>Phone</th>
                  <th>UUID</th>
                  <th>License Key</th>
                  <th>Is Active</th>
                  <th style="width: 50px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let license of licenses; let i = index">
                  <td>{{i + 1}}.</td>
                  <!-- <td>{{license.email}}</td> -->
                  <td>{{license.phone}}</td>
                  <td>{{license.uuid}}</td>
                  <td>{{license.licensekey}}</td>
                  <td class="text-center">
                    <input disabled class="form-check-input"type="checkbox"
                      [checked]="license.isactive === 'Y'">
                  </td>
                  <td class="text-center" style="display: inline-flex;">
                    <button type="button" class="btn bg-gradient-primary btn-xs">
                      <i class="fas fa-edit"><span>Edit</span></i>
                    </button>
                    <button type="button" class="btn bg-gradient-warning btn-xs">
                      <i *ngIf="license.isactive === 'Y'" class="fas fa-lock"><span>Lock</span></i>
                      <i *ngIf="license.isactive !== 'Y'" class="fas fa-unlock"><span>Un Lock</span></i>
                    </button>
                    <button type="button" class="btn bg-gradient-danger btn-xs">
                      <i class="fas fa-trash"><span>Delete</span></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
